<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <div class="container">
        <div class="card mt-5">
            <div class="card-body text-center">
                <h5 class="card-title">Bitcoin Price in <%= description %></h5>
                <p class="card-text">Rate: <%= rate %></p>
                <p class="card-text">Updated at: <%= time.updated %></p>
            </div>
        </div>
    </div>
</body>
</html>